<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Welcome to our Node Playground</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, eaque. Nisi ex culpa adipisci nobis vel id ullam! Ut saepe officia, quis perspiciatis ipsam ullam placeat qui blanditiis quaerat id!</p>
    <button class="btn">Play</button>
</body>
</html>